:root {
    --light-color: #F3EDDF;
    --dark-color: #cdc2a8;
    --darker-brown: #514235;
    --text: #2c2a29;
    --dark-bg: #2c2a2957;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--light-color);
    font-family: 'Poppins', sans-serif;
}

/* fonts */
h1, h2 {
    color: var(--text);
}

main {
    padding: 0 15vw 0 5vw;
}

header {
    margin: 0;
    padding: 0;
    background-color: var(--darker-brown);
    height: 8vh;
    display: flex;
    align-items: center;
}

#sort-filter {
    position: fixed;
    left: 0;
    height: 100vh;
    background-color: var(--dark-color);
    border-right: 1px solid var(--darker-brown);
    padding: 10vh 5vw 0 5vw;
}

label {
    margin-top: 5%;
}

#sort, #filter {
    display: flex;
    flex-direction: column;
}

#apply {
    margin-top: 5vh;
}

/* list */

#list-container {
    padding-top: 10vh;
    margin-left: 30vw;
}

#search-bar {
    display: flex;
    flex-direction: row;
}

#search {
    width: 25vw;
    height: 5vh;
}

#student-list {
    display: flex;
    flex-direction: column;
}

.student {
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    width: 14rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* student details */

#student-details, #hack-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-bg);
}

#details-container {
    padding: 5%;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 5% 95%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    background-color: rgb(185, 185, 185);
    z-index: 2;
    backdrop-filter: blur(10px);
}

#close {
    width: 2em;
    height: auto;
    justify-self: end;
    background-color: transparent;
    border: none;
}

#sec-row {
    display: grid;
    grid-template-columns: 30% 30% 25%;
    grid-gap: 3%;
}

#student-photo {
    width: 65%;
    height: auto;
}

#house-info {
    display: flex;
    flex-direction: row;
}

#house-info img {
    width: 3em;
    height: auto;
}

#house-info h2 {
    padding-left: 5%;
}

#student-actions {
    display: flex;
    flex-direction: column;
    gap: 8%;
}

#student-actions button {
    height: 5vh;
}

#pop-up, #hack-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 20%;
    background-color: var(--darker-brown);
    z-index: 3;
}

#hack-container {
    justify-content: center;
}


#hack-popup .buttons {
    width: 70%;
}

#hack {
    padding: 0.5rem 1rem;
    color: var(--darker-brown);
    background-color: var(--light-color);
    border: none;
    border-radius: 5px;
}

#no {
    padding: 0.5rem 1rem;
    color: var(--light-color);
    background-color: transparent;
    border: 2px solid var(--light-color);
    border-radius: 5px;
}

#hack-message {
    font-size: 120%;
    font-weight: 600;
    color: var(--light-color);
    text-transform: uppercase;
}

/* buttons */

#apply, .read-more, .expell {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--darker-brown);
    color: #fff;
    font-weight: 700;
}

#apply, #clear {
    margin-right: 5%;
}

.read-more, .expell {
    padding: 0.5rem 1rem;
}

.secondary {
    padding: 0.5rem 1rem;
    color: var(--darker-brown);
    background-color: transparent;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid var(--darker-brown);
}

/* styling to use in js */
.hidden {
    display: none !important;
}

/* media queries */
@media only screen and (max-width: 428px) {

    /* general */

    main {
        margin: 5vh 8vw;
    }

    /* filters */
    
    #sort-filter {
        position: relative;
    }

    /* list */

    #list-container {
        margin-top: 5vh;
    }

    #search-bar {
        justify-content: space-between;
    }

    #search {
        width: 85vw;
        height: 5vh;
    }

    #student-list {
        margin-top: 5vh;
    }

    /* student details */

    #student-details {
        padding: 5%;
        grid-template-columns: 100%;
        grid-template-rows: 5% 1fr 1fr 1fr;
        height: 90vh;
    }

    #sec-row {
        display: block;
    }

    #student-actions button {
        height: 6vh;
    }

    #close {
        align-self: start;
        background-color: transparent;
        border: none;
    }

    #pop-up {
        height: 20vh;
        width: 70vw;
    }

    #ok {
        width: 35vw;
        height: 5vh;
    }
}