/* styling to use in js */
.hidden {
    display: none;
}

/* media queries */
@media only screen and (max-width: 428px) {
    #sort-filter {
        position: relative;
    }
    
    #sort, #filter {
        display: flex;
        flex-direction: column;
    }
    
    
}