:root {
    --darker-brown: #98775c;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F3EDDF;
    font-family: 'Lora', serif;
}

/* fonts */
h1, h2 {
    font-family: 'DM Serif Display', serif;
    color: #2c2a29;
}

main {
    margin: 0 15vw 0 5vw;
}

header {
    margin: 0;
    padding: 0;
    background-color: var(--darker-brown);
    height: 8vh;
    display: flex;
    align-items: center;
}

#sort-filter {
    position: fixed;
    height: 100vh;
    border-right: 1px solid #000;
    padding-top: 10vh;
    padding-right: 5vw;
}

#sort, #filter {
    display: flex;
    flex-direction: column;
}

#apply {
    margin-top: 5vh;
}

/* list */

#list-container {
    padding-top: 10vh;
    margin-left: 30vw;
}

#search-bar {
    display: flex;
    flex-direction: row;
}

#search {
    width: 25vw;
    height: 5vh;
}

#student-list {
    display: flex;
    flex-direction: column;
}



.student {
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#buttons {
    width: 10vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* student details */

#student-details {
    padding: 5%;
    display: grid;
    grid-template-rows: 5% 95%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    background-color: rgb(185, 185, 185);
    z-index: 2;
    backdrop-filter: blur(10px);
}

#close {
    width: 2em;
    height: auto;
    justify-self: end;
    background-color: transparent;
    border: none;
}

#sec-row {
    display: grid;
    grid-template-columns: 30% 30% 25%;
    grid-gap: 3%;
}

#student-photo {
    width: 65%;
    height: auto;
}

#house-info {
    display: flex;
    flex-direction: row;
}

#house-info img {
    width: 3em;
    height: auto;
}

#house-info h2 {
    padding-left: 5%;
}

#student-actions {
    display: flex;
    flex-direction: column;
    gap: 8%;
}

#student-actions button {
    height: 5vh;
}

#pop-up, #hack-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 20%;
    background-color: var(--darker-brown);
    z-index: 3;
}

/* buttons */

#apply, #clear, .read-more, .expell {
    border: none;
    background-color: var(--darker-brown);
    color: #fff;
    font-weight: 700;
}

#apply, #clear {
    padding: 5%;
    margin-right: 5%;
}

.read-more, .expell {
    padding: 1% 5%
}

/* styling to use in js */
.hidden {
    display: none !important;
}

/* media queries */
@media only screen and (max-width: 428px) {

    /* general */

    main {
        margin: 5vh 8vw;
    }

    /* filters */
    
    #sort-filter {
        position: relative;
    }

    /* list */

    #list-container {
        margin-top: 5vh;
    }

    #search-bar {
        justify-content: space-between;
    }

    #search {
        width: 85vw;
        height: 5vh;
    }

    #student-list {
        margin-top: 5vh;
    }

    /* student details */

    #student-details {
        padding: 5%;
        grid-template-columns: 100%;
        grid-template-rows: 5% 1fr 1fr 1fr;
        height: 90vh;
    }

    #sec-row {
        display: block;
    }

    #student-actions button {
        height: 6vh;
    }

    #close {
        align-self: start;
        background-color: transparent;
        border: none;
    }

    #pop-up {
        height: 20vh;
        width: 70vw;
    }

    #ok {
        width: 35vw;
        height: 5vh;
    }
}